.header__container {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e4e4e4;
  border-radius: 0px 0px 20px 20px;
  border-bottom: 1px solid #d3d3d3;
  padding: 0px 20px;
  position: fixed;
  top: 0;
}

.logo {
  width: 20%;
  text-decoration: none;
  color: #292929;
  font-size: 22px;
  font-weight: bolder;
  letter-spacing: 1px;
  margin-right: 20px;
}

.logo:hover {
  color: #292929;
}

.hearder__right {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.searchBox {
  width: 100%;
  height: 40px;
  display: flex;
  padding: 0px 10px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  margin: 0px 0px 0px 20px;
}

.inputSearch {
  height: 100%;
  width: 90%;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: transparent;
}

.SearchIcon {
  color: #292929;
  cursor: pointer;
  transition: all 0.2s ease;
}

.SearchIcon:hover {
  color: springgreen;
}

.heartIcon:hover {
  color: springgreen;
}

@media only screen and (max-width: 500px) {
  .logo {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0px;
  }
}
